<a href="https://colab.research.google.com/github/ThiagoPedrazi/MVP_Puc/blob/MVP_PUC_ThiagoPedrazi/MVP_ThiagoPedrazi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import cm

In [40]:
# Informa a URL de importação do dataset
url = "https://raw.githubusercontent.com/ThiagoPedrazi/MVP_Puc/MVP_PUC_ThiagoPedrazi/Dataset_Pax.csv"

In [43]:
# Lê o arquivo 
dataset = pd.read_csv(url, delimiter=';')

In [44]:
# Mostra as 10 primeiras linhas do dataset
dataset.head(10)

,Dias,Clima,Categoria,Bilhete,Tipo de Bilhete,Politica,Pax
0,01/01/2022,Nublado/Chuva Parcial,Categoria 2,Bilhete 1,Tipo de Bilhete 1,Politica 1,1482.0
1,01/01/2022,Nublado/Chuva Parcial,Categoria 2,Bilhete 1,Tipo de Bilhete 1,Politica 1,379.0
2,01/01/2022,Nublado/Chuva Parcial,Categoria 2,Bilhete 2,Tipo de Bilhete 2,Politica 2,256.0
3,01/01/2022,Nublado/Chuva Parcial,Categoria 2,Bilhete 2,Tipo de Bilhete 3,Politica 2,184.0
4,01/01/2022,Nublado/Chuva Parcial,Categoria 3,Bilhete 3,Tipo de Bilhete 4,Politica 1,177.0
5,01/01/2022,Nublado/Chuva Parcial,Categoria 2,Bilhete 2,Tipo de Bilhete 2,Politica 2,146.0
6,01/01/2022,Nublado/Chuva Parcial,Categoria 2,Bilhete 2,Tipo de Bilhete 5,Politica 2,126.0
7,01/01/2022,Nublado/Chuva Parcial,Categoria 3,Bilhete 3,Tipo de Bilhete 4,Politica 1,126.0
8,01/01/2022,Nublado/Chuva Parcial,Categoria 2,Bilhete 2,Tipo de Bilhete 6,Politica 2,113.0
9,01/01/2022,Nublado/Chuva Parcial,Categoria 5,Bilhete 4,Tipo de Bilhete 7,Politica 3,79.0

In [45]:
# Mostra as dimensões do dataset
dataset.shape

(15427, 7)